<h2><%= @nickname %>様、Furima-39531へのユーザー登録ありがとうございます！</h2><br>

<p>商品の出品は<%= link_to 'こちら', new_item_url %>からどうぞ</p>
<p>商品出品ページ: <%= url_for(host: 'http://13.113.45.27', controller: 'items', action: 'new') %></p><br>
<p>商品のご購入はそれぞれの商品詳細ページからお願いします</p><br>
<p>なおメールの送信されるタイミングは以下の通りです</p>
<p>1.ユーザー登録時(本メールです)</p>
<p>2.商品購入時(出品者・購入者共にメールが送信されます)</p>
<p>3.商品購入後のコミュニケーションページにてメッセージの投稿時(相手にメッセージの投稿がされた旨が送信されます)</p>
<br>
<p>今後ともFurima-39531をよろしくお願い致します</p>