<h2><%= @user.nickname %>様、Furima-39531へのユーザー登録ありがとうございます！</h2><br>

<p>商品の出品は<%= link_to 'こちら', new_item_url %>からどうぞ</p>
<p>商品出品ページ: <%= url_for(host: 'http://13.113.45.27', controller: 'items', action: 'new') %></p><br>
<p>商品のご購入はそれぞれの商品詳細ページからお願いします</p>
<br>
<p>今後ともFurima-39531をよろしくお願い致します</p>