.search-header {
  padding-left: 10px;
  margin-bottom: 20px;
}

.search-title {
  font-size: x-large;
  margin-left: 10px;
}

.search-contents {
  display: flex;
  justify-content: space-between;
}

.search-area {
  padding-right: 5px;
  border-right: 1px solid;
}

#detailed-search-form {
  height: calc(100% - 40px);
  min-height: 500px;
  width: 300px;
  margin: 0 10px;
  background-color: thistle;
  padding: 5px;
}

.search-field {
  margin: 5px 0;
}

.search-result-title {
  font-size: x-large;
  margin-left: 20px;
}

.search-result-items {
  width: 100%;
  margin: 0 10px;
  display: flex;
  flex-wrap: wrap;
}

.search-item {
  width: 100px;
  height: 200px;
  margin: 0 10px;
}

.search-item-image-area{
  position: relative;
}

.search-item-image {
  height: 100px;
  width: 100px;
  object-fit: contain;
}

.search-sold-out {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  background-color: crimson;
  color: white;
  transform: skewY(-10deg);
}