.user-show {
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.user-show__name {
  font-size: xx-large;
  font-weight: bold;
}

.user-detail-box {
  background-color: #FFF;
  width: 70vw;
  min-width: 700px;
  padding: 5vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-user {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.user-show__title {
  font-size: large;
  font-weight: bold;
}

.user-show__subtitle {
  width: 300px;
  font-size: x-large;
  font-weight: 500;
  border: 1px solid;
  border-radius: 10px;
  margin: 0 auto;
}

.user-detail__graphs {
  text-align: center;
  margin-top: 50px;
}

.category-graph {
  margin-top: 50px;
}

/*  */
.edit-btn-area {
  position: relative;
  display: inline;
}

.hidden-text {
  width: 50px;
  position: absolute;
  top: 10px;
  left: 20px;
  font-weight: normal;
  font-size: 12px;
  background-color: #dedede;
}